
.home{
    background-color: rgb(244, 236, 238);
}
.header-image{
    padding-top: 25px;
    background-size: 100% 100%;
    min-width: 90vw;
    border-radius: 100px;
}

.ProductList{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 50px;
    padding: 60px;
}

